a{
    color: gray;
}

a:visited{
    color: gray;

}

a:hover{
    color: #65a3d8;
   
}

body{
    background-color: white;
    color: gray;
}


h1{
    font-weight: 900;
    position: fixed;
    margin-top: 170px;
    margin-left: 550px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    word-spacing: 3px;
    letter-spacing: 2.5px;
    text-transform: uppercase; 
    color: gray;
}

img{
    position: fixed;
    margin-top: 27px;
    margin-left: 400px;

}

.line{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Abel', sans-serif;
    width: 1200px;
    font-size: 300px;
    position: fixed;
    margin-left: -200px;
    animation: code 20s linear infinite;
}

@keyframes code{
    
    0%{
        top: 25%;
        left: 25%;
    }

    80%{
        top: 0%;
        left: 25%;
    }

    100%{
        top: 0%;
        left: 25%;
    }

}










