body{
    font-family: 'Chonburi', cursive;
    font-size: 65px;
    background-color: black;
    color: white;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 75px;
    letter-spacing: 3px;
    stroke: blanchedalmond;
}